body {
	background-image:               url("../images/1781.jpg");
    font-family:                    'Nova Square', cursive;
    background-repeat:              no-repeat;
    background-size:                cover;
}

.jumbotron {
    color:                          darkcyan;
    text-align:                     center;
    max-height:                     160px;
    padding-bottom:                 6;
    padding-top:                    2;
    background-image:               url("../images/hexellence.png");
    filter:                         drop-shadow(2px 2px 10px #f3e565);
}

h1 {
    font-family:                    'Amarante', cursive;
    font-size:                      240%;
    color:                          darkcyan;
    filter:                         drop-shadow(2px 2px 2px rgb(139, 247, 247));
    -webkit-text-stroke:            1px #093249;
}

button, div, form, input {
	margin:                         2px;
}

img {
	max-width:                      220px;
	max-height:                     220px;
}

label {
    color:                          darkred;
    font-size:                      x-large;
    text-align:                     center;
}

label2 {
    color:                          darkred;
    font-size:                      medium;
    text-align:                     left;
}

.btn-default {
    color:                          #000;
    font-size:                      medium;
    background-color:               goldenrod;
}

.btn-default:hover {
    background-color:               darkgoldenrod;
}

.holder {
    float:                          left;
}


